/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-custom";

html body {
  background-color: #EED5D2;
}

#content {
  margin-left: 20px;
}

.disabled {
  opacity: 0.6;
  filter:alpha(opacity=50);
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

.buttons-container > div {
  display: inline;
}

.submission-info {
  font-size: 8pt;
}

.submission-buttons {
  display: inline;
}

.submission-buttons .btn {
  margin-top: 0px;
  margin-right: 10px;
  height: 25px;
  padding: 3px;
  border: 1px solid black;
}

.submission-buttons div {
  display: inline;
}

.submission-link {
  font-size: 16pt;
  vertical-align: middle;
}

.signin-form, .guest-signin-form {
  float: left;
  margin-left: 20px;
}

.guest-signin-form h3 {
  margin-top: 0px;
}

.guest-signin-form .btn {
  padding: 50px;
  align: center;
}