#loading-icon {
  background: image-url("loading-20x20.gif");
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.navbar .dropdown {
  margin-top: 8px;
}

#navbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.navbar {
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  border-bottom: 1px solid gray;
}