.post .karma {
  display: inline-block
}

.post-link {
  display: inline-block
}

#comments .form-container .btn {
  padding: 3px;
  border: 1px solid black;
}

.post-header {
  background-color: lightgray;
  border: 1px solid gray;
  padding: 10px;
}

.post-header h1 {
  margin-top: 0px;
  font-size: 24pt;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}

.comment .submission-info {
  margin-bottom: 5px;
}