<% if (Seddit.current_user) { %>

<% if (showForm) { %>
<button class="btn btn-primary hidden new-comment-show">Add Comment</button>
<% } else { %>
<button class="btn btn-primary new-comment-show">Add Comment</button>
<% } %>

<% if (showForm) { %>
<form class="new-comment-form">
<% } else { %>
<form class="hidden new-comment-form">
<% } %>
  <div class="comment-form-errors"><%= formErrors %></div>

  <h3>Add a Comment!</h3>
  <input type="hidden" name="comment[post_id]" value="<%= model.get("post_id") %>">
  <% if (model.sedditClass === "Comment") { %>
    <input type="hidden" name="comment[parent_id]" value="<%= model.get("id") %>">
  <% } %>

  <input type="textarea" name="comment[body]"
   class="comment-body-field" placeholder="Add Your Wisdom..."
   value="<%= formData["body"] || null %>"></input>
  <br>

  <input type="submit" class="btn btn-success
  <%= formPending ? 'disabled' : '' %>"
  value="<%= formPending ? "Working..." : "Submit Comment!" %>"></input>
</form>

<% } else { %>
  <a href="<%= Seddit.ROOT_URL %>/session/new">Log in to add a comment!</a>
<% } %>