<div class="karma col-xs-1">
  <% if (Seddit.current_user) { %>
    <button
      class="upvote <%= model.vote.get("up") === true ? 'active' : '' %>
        btn btn-xs <%= votingDisabled ? 'disabled' : '' %>"
      data-id="<%= model.get("id") %>"
      data-model="<%= model.get("class_name") %>"
    >
      <span class="glyphicon glyphicon-chevron-up"
            data-id="<%= model.get("id") %>"
            data-model="<%= model.get("class_name") %>"></span>
    </button>

    <br><%= model.get("karma") %><br>

    <button
      class="downvote <%= model.vote.get("up") === false ? 'active' : '' %>
        btn btn-xs <%= votingDisabled ? 'disabled' : '' %>"
      data-id="<%= model.get("id") %>"
      data-model="<%= model.get("class_name") %>"
    >
      <span class="glyphicon glyphicon-chevron-down"
            data-id="<%= model.get("id") %>"
            data-model="<%= model.get("class_name") %>"></span>
    </button>
  <% } else { %>
    <br><%= model.get("karma")%><br>
  <% } %>
</div>